<div class="rk-news-items">

    <div class="rk-col-4">
        <div class="rk-news-item">
            <div class="item-head">
                <div class="item-cat">Chain Store Age</div>
                <div class="item-date">Feb 22 2016</div>
            </div>
            <div class="item-title">
                Billabong taps NetSuite to power omnichannel strategy
            </div>
            <div class="item-img">
                <img src="css/images/billabong.png" alt="">
            </div>
            <div class="item-detail">
                <p>
                    Marianne WilsonNetSuite Inc., a provider of
                    cloud-based financials, ERP and and omnichannel
                    software suites, said that boardsports retailer
                    Billabong International Ltd. selected NetSuite...
                </p>
            </div>
            <div class="item-actions">
                <ul>
                    <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 132</a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rk-col-4">
        <div class="rk-news-item">
            <div class="item-head">
                <div class="item-cat">Chain Store Age</div>
                <div class="item-date">Feb 22 2016</div>
            </div>
            <div class="item-title">
                Billabong taps NetSuite to power omnichannel strategy
            </div>
            <div class="item-detail">
                <p>
                    Marianne WilsonNetSuite Inc., a provider of
                    cloud-based financials, ERP and and omnichannel
                    software suites, said that boardsports retailer
                    Billabong International Ltd. selected NetSuite...
                </p>
            </div>
            <div class="item-actions">
                <ul>
                    <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 132</a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rk-col-4">
        <div class="rk-news-item">
            <div class="item-head">
                <div class="item-cat">Chain Store Age</div>
                <div class="item-date">Feb 22 2016</div>
            </div>
            <div class="item-title">
                Billabong taps NetSuite to power omnichannel strategy
            </div>
            <div class="item-img">
                <img src="css/images/billabong.png" alt="">
            </div>
            <div class="item-detail">
                <p>
                    Marianne WilsonNetSuite Inc., a provider of
                    cloud-based financials, ERP and and omnichannel
                    software suites, said that boardsports retailer
                    Billabong International Ltd. selected NetSuite...
                </p>
            </div>
            <div class="item-actions">
                <ul>
                    <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 132</a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rk-col-4">
        <div class="rk-news-item">
            <div class="item-head">
                <div class="item-cat">Chain Store Age</div>
                <div class="item-date">Feb 22 2016</div>
            </div>
            <div class="item-title">
                Billabong taps NetSuite to power omnichannel strategy
            </div>
            <div class="item-img">
                <img src="css/images/billabong.png" alt="">
            </div>
            <div class="item-detail">
                <p>
                    Marianne WilsonNetSuite Inc., a provider of
                    cloud-based financials, ERP and and omnichannel
                    software suites, said that boardsports retailer
                    Billabong International Ltd. selected NetSuite...
                </p>
            </div>
            <div class="item-actions">
                <ul>
                    <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 132</a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rk-col-4">
        <div class="rk-news-item">
            <div class="item-head">
                <div class="item-cat">Chain Store Age</div>
                <div class="item-date">Feb 22 2016</div>
            </div>
            <div class="item-title">
                Billabong taps NetSuite to power omnichannel strategy
            </div>
            <div class="item-img">
                <img src="css/images/billabong.png" alt="">
            </div>
            <div class="item-detail">
                <p>
                    Marianne WilsonNetSuite Inc., a provider of
                    cloud-based financials, ERP and and omnichannel
                    software suites, said that boardsports retailer
                    Billabong International Ltd. selected NetSuite...
                </p>
            </div>
            <div class="item-actions">
                <ul>
                    <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 132</a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rk-col-4">
        <div class="rk-news-item">
            <div class="item-head">
                <div class="item-cat">Chain Store Age</div>
                <div class="item-date">Feb 22 2016</div>
            </div>
            <div class="item-title">
                Billabong taps NetSuite to power omnichannel strategy
            </div>
            <div class="item-detail">
                <p>
                    Marianne WilsonNetSuite Inc., a provider of
                    cloud-based financials, ERP and and omnichannel
                    software suites, said that boardsports retailer
                    Billabong International Ltd. selected NetSuite...
                </p>
            </div>
            <div class="item-actions">
                <ul>
                    <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 132</a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
